import("RGtk2","gWidgets","gWidgetsRGtk2","RGtk2Extras")
importFrom("methods","new")
importFrom("utils","read.csv","write.table")
importFrom("stats","ks.test","shapiro.test","qqnorm","sd")
importFrom("nortest","lillie.test","cvm.test","ad.test","pearson.test","sf.test")
importFrom("tseries","jarque.bera.test")
importFrom("fBasics","dagoTest")
importFrom("graphics","hist","boxplot")
export("NT")
